<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<style>

    .text{
        align-content: center;
        text-align: center;
        justify-content: center;
    }
</style>

<body>

<div class="container">

    <div class="text">
    <h1>Welcome</h1>
    <p>This experiment will test the time it takes for you to decide on where a food item in an
    online store is located.</p>
    <p>You will be presented with a menu or selection of options.</p>
    <p>You will be timed automatically, with the timer beginning for each level as soon as you press the green button</p>
    </div>
</div>

</body>