<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Participant Information</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">HCI Hick Hynman Law Test</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home
                        </a>
                    <li class="nav-item active">
                        <a class="nav-link" href="participant_info.ejs">Participant Info Form
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--User Data Entry Form-->
    <div class=container style="margin-top:2%">
        <form onsubmit="saveFormData()">
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="inputEmail4">First Name</label>
                    <input type="text" class="form-control" id="fname" placeholder="First">
                </div>
                <div class="form-group col-md-5">
                    <label for="inputPassword4">Last Name</label>
                    <input type="text" class="form-control" id="lname" placeholder="Last">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputPassword4">Age</label>
                    <input type="number" class="form-control" id="inputAge" placeholder="Age">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAddress2">What time, to the nearest hour, did you go to sleep last night?</label>
                    <input type="number" class="form-control" id="inputBedTime" placeholder="2200">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputAddress2">What time, to the nearest hour, did you wake up this morning?</label>
                    <input type="number" class="form-control" id="inputAwakeTime" placeholder="0800">
                </div>
            </div>
            <div class="form-group">
                <label for="sel1">How many years have you been using a computer?:</label>
                <select class="form-control" id="expLevel">
                    <option>0-1</option>
                    <option>2-10</option>
                    <option>11-20</option>
                    <option>21-30</option>
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="inputAddress">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="email@example.com">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputAddress">Email Results</label>
                    <label class="checkbox-inline"><input type="checkbox" value="true" id="emailResults"> Send me my
                        results</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script type="text/javascript" src="/javascript/localStorageHelper.js"></script>
</body>