<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <style>
        .row {
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 15px;
            transform: translate(-50%, -80%);
        }

        .sampleButton input[type=button]{
        border:none;
        font-family: "Tahoma", Geneva, serif;
        border-radius: 4px;
        font-size: 1.5em;
        margin: 3px;
        padding:10px;
        cursor: pointer;

        background-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        }

    </style>

</head>

<body>

    <!-- Navigation -->
    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">HCI Hick Hynman Law Test</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                <li class="nav-item">
                    <a class="nav-link" href="participant_info">Participant Info Form
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>-->

    <!-- Page Content -->
    <div class="container">
        <div>
            <h1 class="mt-5">Results:</h1>
            <p id="results" class="lead"></p>

            <table>
    

                <td class="sampleButton" align="right">
                    <input type="button" value="SUBMIT" onclick="location.href='/'">
                </td>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="/javascript/printResults.js"></script>

</body>

</html>